# -*- mode: makefile; -*-

# compiler, linker, assembler to use for ARM code
CC=arm-none-eabi-gcc
LD=arm-none-eabi-ld
AS=arm-none-eabi-as
AR=arm-none-eabi-ar
STRIP=arm-none-eabi-strip
OB=arm-none-eabi-objcopy
# where to find 'mkimage' from u-boot
MKIMAGE=mkimage

DEBUG=-DDEBUG
#DEBUGSPI=-DDEBUGSPI
#DEBUGPWM=-DDEBUGPWM
#DEBUGPWMHW=-DDEBUGPWMHW
#DEBUGSPIHW=-DDEBUGSPIHW
USBTEST=-DUSBTEST
#USEIRQ=-DUSE_IRQ
MCSPI=-DMCSPIALL
PWMTEST=-DPWMTEST
MCSPITEST=-DMCSPITEST
TMRTEST=-DTMRTEST
GPIOTEST=-DGPIOTEST
ADC_BOARD=-DADC_BOARD
PRINTACQ=-DPRINTACQ
STOREDATAIN=-DSTOREDATAIN
KERNEL=-D__KERNEL__ 
CONFIG_ARM=-DCONFIG_ARM
ARM=-D__ARM__


CFLAGS=-g  -Os   -fno-common -ffixed-r8 -msoft-float -fno-builtin -ffreestanding -nostdinc -pipe -marm -mno-thumb-interwork -mabi=aapcs-linux -march=armv7-a -Wall -Wstrict-prototypes -fno-stack-protector -Wno-format-nonliteral -Wno-format-security -isystem $(INCLIBGCC)  -I$(INCLIBA)  -I$(U-BOOT)/include  -I$(TOP)/lib -I$(TOP) -I$(TOP)/common -I$(TOP)/driver -I$(TOP)/include  -I/../include  $(DEBUG) $(DEBUGPWM) $(DEBUGPWMHW)  $(DEBUGSPI) $(DEBUGSPIHW) $(MCSPI) $(PWMTEST) $(MCSPITEST) $(TMRTEST) $(USBTEST) $(GPIOTEST) $(ADC_BOARD) $(PRINTACQ) $(STOREDATAIN)  $(KERNEL) $(CONFIG_ARM) $(ARM) 

ASFLAGS= -fno-common -ffixed-r8 -msoft-float -fno-builtin -ffreestanding -nostdinc -pipe -marm -mno-thumb-interwork -mabi=aapcs-linux -march=armv7-a -Wall -Wstrict-prototypes -fno-stack-protector -Wno-format-nonliteral -Wno-format-security    -I$(TOP)/common

LIBOMAP=$(TOP)/lib/libomap.a
LIBDRIVER=$(TOP)/driver/libdriver.a
LIBGCC=$(shell $(CC) -print-libgcc-file-name)
#LIBNEW=/home/kilo/Develop/BB_env/OS/newlib/newlib-1.20.0/arm-none-eabi/newlib/libm.a  /home/kilo/Develop/BB_env/OS/newlib/newlib-1.20.0/arm-none-eabi/newlib/libc/libc.a /home/kilo/Develop/BB_env/OS/newlib/newlib-1.20.0/arm-none-eabi/newlib/libc/syscalls/lib.a
LIBNEW=/home/brain/CodeSourcery/Sourcery_CodeBench_Lite_for_ARM_EABI/arm-none-eabi/lib/libm.a /home/brain/CodeSourcery/Sourcery_CodeBench_Lite_for_ARM_EABI/arm-none-eabi/lib/libc.a 
U-BOOT=/home/brain/Scaricati/bsp_beagle_board/u-boot-usb
INCLIBA=/home/brain/Scaricati/newlib-1.20.0/newlib/libc/include
INCLIBGCC=/home/brain/CodeSourcery/Sourcery_CodeBench_Lite_for_ARM_EABI/lib/gcc/arm-none-eabi/4.6.3/include
